{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% block content %}
    <h1>Blog Posts</h1>
    


<ul class="post-list">
{% for post in object_list %}

   <li class="post">
    <div class="container-article">

    <a clas="article-link" href="{% url 'article_details' post.pk %}">{{ post.title }}</a> - {{ post.author.first_name }} 
    {{ post.author.last_name }}<br/>
    {{ post.body }}
</div>
</li>

{% endfor %}
</ul>

    {% endblock %}


</body>
</html>